<html>
    <head>
        <title>Basic Form</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Basic White Form</h1>
        <form method="POST" enctype="multipart/form-data">
            <label for="username">Username:</label><br>
            <!-- name attributes are given to inputs; this name will be used as the name of parameters used to get the value -->
            <input type="text" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="text" name="password"><br>
            <input type="file" name="file"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>